<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
<script async src="https://www.googletagmanager.com/gtag/js?id=G-M64QVRM6P4"></script>
  {{- partial "head.html" . -}}
  <body dir="{{ .Site.Language.LanguageDirection | default `ltr` }}">
    {{- partial "navbar.html" . -}}
    {{- block "main" . }}{{ end -}}
    {{- if or (eq .Site.Params.footer.enable nil) (.Site.Params.footer.enable) }}
      {{ partial "footer.html" . }}
    {{ end }}
    {{ partial "scripts.html" . }}
  </body>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-M64QVRM6P4');
  </script>
</html>
